<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <!-- Recent News -->
    <div class="row" id="recent_news">
        <div class="col-md-12">
            <h2>Latest Mars News</h2>
            <h3 class="heading">{{ mars.news_title }}</h3>
            <h4 class="heading">{{ mars.news_subtitle }}</h4>
        </div>
    </div>
    <!-- Featured Image -->
    <div class="row" id="featured_img_table">
      <div class="col-md-8">
        <h2>Featured Mars Image</h2>
        <img src= "{{ mars.featured_image_url }}" alt="Mars Image">
      </div>
      <!-- Mars Table -->
      <div class="col-md-4">
        <h3>Mars Facts</h3>
        <table class="table table-striped">{{ mars.mars_table_html|safe }}</table>
      </div>
    </div>
      <!-- Hemisphere Cards -->
  <div class="row" id="hemisphere_cards">
    <h2 class="text-center">Mars Hemispheres</h2>      
  </div>
  
  {% for i in hemisphere_image_urls %}

  <div class="col-lg-3">
    <div class="card" style="width: 10rem;">
      <img class="card-img-top" src="{{mars.hemisphere_image_urls[i]['img_url']}}" alt="Hemisphere image cap">
        <div class="card-body">
          <h4 class="card-title">{{ mars.hemisphere_image_urls[i]["title"] }}</h4>
        </div>
      </div>
  </div>

  {% endfor %}
  </div>
</body>

</html>
